<html>
<head>
    <title>New Grade Added!</title>
</head>
<body>
 <!--    form action 'directs' the submit to the next handle/url -->
<form action="/give_grade">
    <label for="github">Github</label>
    <input type="text" name="student_github"/><br>
    <label for="title">Project Title</label>
    <input type="text" name="project_title"/><br>
    <label for="grade">Grade</label>
    <input type="text" name="grade"/><br>
    <input type="submit">
</form>
<h2> <a href="/gradestudentform"> Add new grade </a></h2>

<h2> <a href="/newprojectform"> Add new project </a></h2>

<h2> <a href="/newstudentform"> Add new student </a></h2>

<h2> <a href="/"> Find student by github </a></h2>
</body>
</html>