<html>
<body>
<h1>Student:
 {{last_name}}, 
 {{first_name}}</h1>

<h2>Github: {{github}}</h2>

<h2> Grades for all projects: </h2>

<h2>Grades</h2>
<ul>
    {% for i in grades %}
    <li><strong>Github:</strong> {{ i['github'] }}
    
    <li><a href="/project?project={{ i['project_title']}}"> Project Title: {{ i['project_title']}}</a>        

    <li><strong>Grade: </strong>{{ i['grade']}}    


    {% endfor %}    
</ul>

<h2> <a href="/gradestudentform"> Add new grade </a></h2>

<h2> <a href="/newprojectform"> Add new project </a></h2>

<h2> <a href="/newstudentform"> Add new student </a></h2>

<h2> <a href="/"> Find student by github </a></h2>

</body>
